{% extends "base.html" %}

{% block content %}



<div class="card">
  {% if "placeholder" in booking.event_image.url %}
  <img class="card-img-top"
    src="https://res.cloudinary.com/jamesfahey/image/upload/c_scale,w_250/v1646684893/photographers_hmhgd4.jpg"
    alt="Card image cap">
  {% else %}
  <img class="card-img-top" src="{{ booking.event_image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">Name: </h5>
    <h5 class="card-title">Event Type: {{ booking.event_type }}</h5>
    <h5 class="card-date">Event Date: {{ booking.event_date }}</h5>
    <p class="card-text">Info: {{ booking.info }}</p>
    {% if booking.status %}
    <p class="card-text">Status: Confirmed</p>
    {% else %}
    <p class="card-text">Status: Requested</p>
    {% endif %}
    <a href="{% url 'edit_event' booking.pk %}" class="btn btn-primary"><i class="fas fa-pencil-alt edit-icon"></i>
      Edit</a>
    <a href="{% url 'cancel_event' booking.pk %}" class="btn btn-primary"><i class="far fa-trash-alt del-icon"></i>
      Delete</a>
  </div>
</div>
</div>



{% endblock content %}