{% extends "base.html" %}

{% block content %}

<div id="signup">
  <h3>Bookings for {{ month }} {{ year }}</h3>
  <br />
  <div class="container" style="display: block; margin: auto;">{{ cal|safe }}</div>
  <br /><br />
  <h3>Events This Month</h3>
  <br /><br /><br />


  {% if event_list %}
  {% for booking in event_list %}

  {{ booking }} - {{ booking.event_date }}
  <br />
  {% endfor %}



  {% else %}
  There are currently no events this month
  {% endif %}
</div>


{% endblock content %}