{% extends "base.html" %}

{% block content %}

{% for booking in user.booking.all %}
<div class="row">
    <div class="col s12 m6 l3">
        <div class="card">
          <img class="card-img-top" src="https://res.cloudinary.com/jamesfahey/image/upload/c_scale,w_250/v1645305907/cloud-img1_kbyu20.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Name: {{ booking.name }}</h5>
              <h5 class="card-title">Event Type: {{ booking.event_type }}</h5>
              <h5 class="card-date">Event Date: {{ booking.event_date }}</h5>
              {% if booking.status %}
              <p class="card-text">Status: Confirmed</p>
              {% else %}
              <p class="card-text">Status: Requested</p>
              {% endif %}
              <a href="{% url 'Edit Event' %}" button class="btn btn-primary">Edit</a>
              <button class="btn btn-primary">Delete</button>
              
        </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock content %}
