{% extends "base.html" %}

{% block content %}

{% for event in event_list %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://res.cloudinary.com/jamesfahey/image/upload/c_scale,w_250/v1645305907/cloud-img1_kbyu20.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Event Type: {{ event.event_type }}</h5>
      <h5 class="card-date">Event Date: {{ event.event_date }}</h5>
      <p class="card-text">Info: {{ event.info }}</p>
      {% if event.status %}
      <button class="btn btn-primary">Confirmed</button>
      {% else %}
      <button class="btn btn-primary">Requested</button>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% endblock content %}
