{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="col-lg-8 align-self-end">
<img class="logo" src="{% static 'assets/img/logo.png' %}" alt="">
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">We are a family run videographer business based in Stockport. While our main passion is filming weddings, we love covering other events too.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                </div>
            </div>
        </div>
    </header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Who are we?</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4"> Hayley (videographer) will be at the wedding from the Bridal prep right through until after the first dance. If you
                throw a good party she might even stay longer.
                She loves a good atmosphere and loves nothing more than getting shots of them groovy moves that only come after a few
                too many drinks.
                </p>
                <h2 class="text-white mt-0">What do we do?</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4"> We will capture your special day in a fly on the wall style, ensuring all your special moments and reactions are
                captured in the most natural way possible,
                you will hardly even notice we are there. We then produce your video for you to watch back and remember all those
                precious little moments you probably forgot even happened.
                </p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Wedding Days</h3>
                    <p class="text-muted mb-0">Our natural, relaxed & unobtrusive wedding photography style will help you feel relaxed through the day</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Family Portraits</h3>
                    <p class="text-muted mb-0">Elegant, Natural, Timeless images of your family, that you can proudly display at home.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Personal Shoots</h3>
                    <p class="text-muted mb-0">Doing a professional photo session and having the pictures to look at might show you something new about yourself</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Couple Shoots</h3>
                    <p class="text-muted mb-0">Create beautiful images showing you and your loved one at your best</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/1.jpg" title="Ash & Hayley">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">Ash & Hayley</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/2.jpg" title="James & Jessica">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">James & Jessica</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/3.jpg" title="Adam & Cassy">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">Adam & Cassy</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/4.jpg" title="Aaron & Mary">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">Aaron & Mary</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/5.jpg" title="Luke & Sarah">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">Luke & Sarah</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="static/assets/img/portfolio/fullsize/6.jpg" title="Jack & Gill">
                    <img class="img-fluid" src="static/assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Album</div>
                        <div class="project-name">Jack & Gill</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}